div{
    
    background-image: url("https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80") ;
}
button{
    font-family: Franklin Gothic;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    
}
mat-form-field{
    margin:  10px 10px 10px 20px;
}
